<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="hibernateSessFactory">
        <!--<mapping resource="com/finmechanics/fmconverge/limits/hbm/CounterpartyCreditLimitData.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>
